/* Styles for larger screens */
.Nav {
  background-color: #1c1c1c;
  margin-top: -90px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(40, 40, 109, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: fixed;
  z-index: 10;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navitems {
  color: #fff;
  margin: 0 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}

.navitems:first-child {
  color: rgb(8, 8, 236);
  font-weight: bold;
  font-size: 22px;
  margin-right: auto;
}

.navitems:hover {
  color: rgb(8, 8, 236);
  cursor: pointer;
}

.navitems:last-child {
  background-color: rgb(8, 8, 236);
  padding: 5px 10px;
  border-radius: 5px;
}

.navitems:last-child:hover {
  background-color: rgb(8, 8, 236);
}

/* Responsive Styles */
@media (max-width: 607px) {
  .Nav {
    padding: 10px;
  }

  .nav {
   
    padding: 0;
  }

  .navitems {
    margin: 10px 0;
    font-size: 10px;
  }

  .navitems:first-child {
    margin-right: 0;
    font-size: 15px;
  }

}